<!DOCTYPE html>
<html>

<head>
    <title>Test URLs</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Test URLs</h1>
    <form action="/test_urls" method="post">
        <label for="urls">Enter URLs (one per line):</label>
        <br>
        <textarea name="urls" id="urls" cols="50" rows="10">
http://classcent.infinityfreeapp.com/
http://mihir.testing-phase.com/
        </textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>